apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-classifier-svc
spec:
  type: ClusterIP
  selector:
    app: cats-dogs-classifier
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
